@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.color-bg {
    background-color: #400c48 ;
}

@keyframes fadeCarousel {
    0%, 33.33% { opacity: 1}
    38%, 95% { opacity: 0}
    100% { opacity: 1}
}

.animate-carousel-1 {
    animation: fadeCarousel 15s infinite;
}

.animate-carousel-2 {
    animation: fadeCarousel 15s infinite;
    animation-delay: 6s;
}
.animate-carousel-3 {
    animation: fadeCarousel 15s infinite;
    animation-delay: 10s;
}